<div class="my-5">
  <div class="mx-auto w-25 " style="max-width:100%;">
    <h2 class="text-center mb-3">Add User</h2>
    <form [formGroup]="form" (ngSubmit)="addUser()">
      <!--name-->
      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="name" class="form-label">Name</label>
          <input id="name" formControlName="name" type="text" name="name" class="form-control" placeholder="Name"
            required>
        </div>
      </div>


      <!--Email-->
      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email" formControlName="email" name="email" class="form-control" placeholder="email"
            required>
        </div>
      </div>

      <!--Gender-->
      <div class="mb-4">
        <label for="gender" class="form-label">Gender</label>
        <div class="form-check">
          <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="male" value="male">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="female" value="female">
          <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="others" checked
            value="others">
          <label class="form-check-label" for="others">Others</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <input [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">
        </div>
      </div>

      <div>

      </div>
    </form>

  </div>
</div>